<br>
<h3>Formulario de registro</h3>
<br>
<ion-content>
<ion-input type="text" placeholder="Nombre"></ion-input><br>
<ion-input type="text" placeholder="Apellido"></ion-input><br>
<ion-input type="email" placeholder="Correo electrónico"></ion-input><br>
<ion-input type="text" placeholder="Nombre de usuario"></ion-input><br>
<ion-input type="password" placeholder="Contraseña"></ion-input><br>
<ion-button expand="block">Registrarse</ion-button>
<ion-button expand="block" [routerLink]="['/auth/login']">Volver al inicio de sesión</ion-button>
</ion-content>
